:root {
  --st-accent-1: var(--SystemAccentColorLight1-RGB) !important;
  --st-accent-2: var(--SystemAccentColorDark1-RGB) !important;
  --st-blue: var(--st-accent-1) !important;
  --st-blue-hover: var(--st-accent-2) !important;
  --st-yellow: var(--st-accent-2) !important;
}
._2UyOBeiSdBayaFdRa39N2O:nth-of-type(1)::after {
  color: rgb(var(--st-accent-1)) !important;
}
.bSKGlAJG2UVWTsntEJY2v::after {
  color: rgb(var(--st-accent-2)) !important;
}
